NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6c3F6eml3eW5tZ3hnYm1yYXNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzNzczMDMsImV4cCI6MjEwMzk1MzMwM30.eu6EPSFqs0JsDLKRUK6ID51pCtSQKAava9pQzezeMJc
NEXT_PUBLIC_SUPABASE_URL=https://pzsqzmiwynmgxbmmrash.supabase.co
UPSTASH_REDIS_URL=https://pleasing-snapper-73723.upstash.io
UPSTASH_REDIS_TOKEN=gQAAAAAAAR_7AAIgcDE5MTM1OWU4ODA1YTg0NzZlOWUwZDBmM
NODE_ENV=production
NEXT_PUBLIC_APP_URL=https://stocksignal-ai.onrender.com
NEXT_PUBLIC_SITE_NAME=StockSignal AI
NEXT_PUBLIC_COUNTRY=IN
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
